<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js">
    <title>Real time products</title>
</head>
<body>
    <h1>Real Time Products</h1>

    <h2>Cargar nuevo producto</h2>
       Nombre: <input id="inputNombre" type="text">
       Precio: <input id="inputPrecio" type="text">
       <button id="btnNuevoProd">Enviar</button>

    <h1>Productos</h1>
    <div id="products">
    </div>

<script src="js/realtimeproducts.js"></script>
</body>
</html>